s.button-roxo {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    background-color: #9c4dcc;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button-roxo:hover {
    background-color: #7b1fa2;
}

.button-roxo:active {
    transform: scale(0.98);
}

.button-branco-roxo {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid #ba68c8;
    border-radius: 30px;
    background-color: white;
    color: #ba68c8;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button-branco-roxo:hover {
    background-color: #ba68c8;
    color: white;
}

.button-branco-roxo:active {
    transform: scale(0.98);
}

.container-fluid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
    height: 100vh;
    background-color:  #1D1D1D;
    font-family: 'Arial', sans-serif;
}

.roleta-container {
    position: relative;
    width: 80%; 
    max-width: 370px; 
    min-width: 20px;
    aspect-ratio: 1 / 1;
    border: 5px solid #8b8b8b;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


.roleta-button {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 4px; 
    background-color: #ffcc00;
    border: 2px solid #ff9900;
    font-weight: bold;
    color: #333;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}


button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #45a049;
}

button:active {
    transform: scale(0.98);
}

.roleta-button.active {
    transform: scale(1.2);
    background-color: #ff9900;
    color: #fff;
    transition: transform 0.2s ease, background-color 0.2s ease, color 0.2s ease;
}

.numero-sorteado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    font-weight: bold;
    color: #cec6bb;
    background-color: #2716be;
    padding: 15px 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.animacao-movimento {
    animation: deslizamento 0.2s ease-in-out;
}


.roleta-button {
    transform: translate(0, 0);
    width: 10px;
    height: 40px;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, opacity 0.3s ease;
}


.roleta-button.roxo {
    background-color: #e74c3c;
}

.roleta-button.roxo:hover {
    background-color: #c0392b;
    transform: scale(1.1);
    opacity: 0.8;
}


.roleta-button.roxa-clara {
    background-color: #2ecc71;
}

.roleta-button.roxa-clara:hover {
    background-color: #27ae60;
    transform: scale(1.1);
    opacity: 0.8;
}


.roleta-button.active {
    border: 2px solid #fff;
}

.sortear-button {
    height: 60px;
    width: 200px;
    font-size: 20px;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    transition: background-color 0.4s ease, color 0.4s ease, border-radius 0.4s ease, transform 0.3s ease;
}

.sortear-button:hover {
    background-color: #5118b9; 
    color: white; 
    border-radius: 20px;
    transform: scale(1.05);
}

.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.checkbox-container label {
    font-size: 18px;
    color: #333;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.checkbox-container input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
    appearance: none; 
    border: 2px solid #bbb;
    border-radius: 5px;
    background-color: #fff;
    position: relative;
    transition: background-color 0.3s, border-color 0.3s;
}

.checkbox-container input[type="checkbox"]:checked {
    background-color: #6b30ca;
    border-color: #6928a7;
}

.checkbox-container input[type="checkbox"]:checked::before {
    content: '✔'; 
    position: absolute;
    left: 4px;
    top: -1px;
    color: white;
    font-size: 16px;
}

.checkbox-container input[type="checkbox"]:focus {
    outline: none; 
    box-shadow: 0 0 0 3px rgba(76, 175, 80, 0.3); 
}

.checkbox-container label:hover {
    color: #5d25df; 
    font-weight: bold;
}

.welcome-message{
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

.welcome-message .letter {
    display: inline-block;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards;
}

.welcome-message .letter.show {
    opacity: 1;
    transform: translateY(0); 
}

.countdown-display {
    font-size: 50px;
    font-weight: bold;
    color: rgb(24, 18, 18);
    display: inline-block;
    animation: fadeInOut 1s ease-in-out;
}

.fade-out {
    opacity: 0;
}

.fade-in {
    opacity: 1;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    50% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.5);
    }
}


@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}



@keyframes deslizamento {
    0% {
        transform: translate(-50%, -50%) translateX(-10px);
    }

    50% {
        transform: translate(-50%, -50%) translateX(10px);
    }

    100% {
        transform: translate(-50%, -50%) translateX(0);
    }
}

/* Telas menores (mobile) */
@media (max-width: 479px) {
    .roleta-container {
        width: 65%;
        height: 300px;
    }
}

@media (min-width: 480px) and (max-width: 629px) {
    .roleta-container {
        width: 50%;
        height: 300px;
    }
}

/* Telas de tamanho médio (tablets) */
@media (min-width: 630px) and (max-width: 1023px) {
    .roleta-container {
        width: 80%;
        height: 350px;
    }
}

@media (min-width: 631px) and (max-width: 643px) {
    .roleta-container {
        width: 50%;
        height: 350px;
    }
}

/* Telas grandes (desktop) */
@media (min-width: 1024px) and (max-width: 1439px) {
    .roleta-container {
        width: 80%;
        height: 400px;
    }
}

/* Telas extra grandes */
@media (min-width: 1440px) {
    .roleta-container {
        width: 70%;
        height: 450px;
    }
}